/* cornsilk, firebrick */

/* typography */

::selection {
  color: cornsilk;
  background-color: firebrick;
}

h2, p {
  margin:0 0 1rem 0;
  padding:0;
}

.nobreak {
  margin: 0;
}

.print-spacer {
  display: none;
}

h1 {
  color: firebrick;
  font-family: sans-serif;
  font-size: 2rem;
  font-variant: small-caps;
  text-align: center;
  text-shadow: 1px 1px cornsilk, 2px 2px 1px firebrick;
  margin: 0;
  padding: 0;
}

h2 {
  color: firebrick;
  font-size:1.5rem;
  font-style: italic;
  border-bottom: 1px solid firebrick;
}

h3 {
  color: firebrick;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin:0 0 .25rem 0;
}

li {
  margin:0 0 .25rem 0;
}

a {
  color:firebrick;
}

a.warp {
  word-break: break-all;
}

em {
  font-style: normal;
  font-weight: bold;
  color: firebrick;
}

/* page settings */

body {
  background-color: cornsilk;
}

/* menu */

#menu {
  min-width:100%;
  height:5vh;
  background-color: firebrick;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

#menu a, #menu div {
  color:cornsilk;
  text-decoration: none;
  font-family: sans-serif;
  font-size:1.1rem;
}

#submenu {
  display: none;
  position:absolute;
  padding: 0 2rem;
  margin: 0 -2rem;
  background-color: firebrick;
}

#submenu a {
  display:block;
  color:cornsilk;
}

#assignments:hover #submenu {
  display: block;
}

/* course info */

#course-info {
  margin: 0 0 1rem 2rem;
}

#course-info p {
  margin: 0;
}

/* documents page */

#documents img {
  display:none;
}

/* table */

.table {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 0 1rem 0;
}

.table p {
  margin: 0 0 .25rem 0;
  border-bottom: 1px solid firebrick;
}

/* media */

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, li {
    font-size: 1.25rem;
  }

  body {
    margin: 0 25%;
  }

  #menu a, #menu div {
    font-size: 1.5rem;
  }

  #schedule {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
  }

  #schedule h2 {
    grid-column: 1 / span 2;
  }

  #documents {
    display: flex;
    flex-flow: row wrap;
  }

  #documents div {
    border: 1px solid firebrick;
    border-radius: 10%;
    margin: 1rem 1rem;
    overflow: hidden;
    max-width: 30%;
  }

  #documents img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid firebrick;
  }

  #documents p {
    text-align: center;
    margin: .25rem 0;
  }

  .table {
    grid-template-columns: 50% 50%;
  }
}
